<h1>Log In Below:</h1>


<form action="/sessions" method="post">
  <div class="">
    <label for="User_Email">Email: </label>
    <input type="text" name="email" value="" id="User_Email">
  </div>
  <div class="">
    <label for="User_Password">Password: </label>
    <input type="text" name="password" value="" id="User_Password">
  </div>
  <input type="submit" name="" value="Log In">
</form>