<h1>Sign Up Below:</h1>


<form action="/registrations" method="post">
  <div class="">
    <label for="User_Name">Name: </label>
    <input type="text" name="name" value="" id="User_Name">
  </div>
  <div class="">
    <label for="User_Email">Email: </label>
    <input type="text" name="email" value="" id="User_Email">
  </div>
  <div class="">
    <label for="User_Password">Password: </label>
    <input type="text" name="password" value="" id="User_Password">
  </div>
  <input type="submit" name="" value="Sign Up">
</form>